<div class="page-header">
  <h1>Welcome to Ruby Store</h1>
</div>
<content>
  <h4>This is a simple store build with Ruby and Sinatra</h4>
  <ul>
    <li>View the store <a href="/offer">offer</a></li>
    <li>View your <a href="/basket">basket</a></li>
  </ul>
</content>
