<!DOCTYPE>
<html>
  <head>
    <title><%= title %> - Ruby Store</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/offer">Offer</a>
    <a href="/basket">Basket</a>
    <div>
      <%= yield %>
    </div>
  </body>
</html>

