<% if products.empty? %>
  <h1>No products currently in offer</h1>
<% else %>
  <h1>Products in offer</h1>
  <ul class="list-group">
    <% products.each do |product, quantity| %>
      <li class="list-group-item">
        <a href="/product/<%= product.id %>">
          <%= product.name %>
        </a>
        <form action="/add/<%= product.id %>" method="post" class="floating-form">
          <button type="submit" class="form-button">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add to basket
          </button>
        </form>
        <span class="badge"><%= quantity %> left</span>
      </li>
    <% end %>
  </ul>
<% end %>
