<h1><%= product.name %></h1>
<p>Price: <span class="label label-default">$<%= product.price.to_s.insert(-3, '.') %></span></p>
<p>With VAT: <span class="label label-default">$<%= product.price_with_vat.to_s.insert(-3, '.') %></span></p>
